# Git 会忽略的文件

.DS_Store
node_modules
dist
dist-ssr
.eslintcache

# Local env files
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Use the PNPM
package-lock.json
yarn.lock
/dist/static/403-61aeac7a.js
/dist/static/404-31934877.js
/dist/static/abap-ffbe9c82.js
/dist/static/AddQuestionView-9cb053d9.css
/dist/static/AddQuestionView-ffabf93d.js
/dist/static/apex-27285cdb.js
/dist/app-loading.css
/dist/static/azcli-714c239b.js
/dist/static/bat-7eb152e5.js
/dist/static/bicep-7b204652.js
/dist/static/cameligo-91a865e0.js
/dist/static/clojure-7e0f8eaa.js
/dist/static/CodeEditor.vue_vue_type_script_setup_true_lang-61c09d76.js
/dist/static/CodeEditor-f1b8b899.css
/dist/static/codicon-8b349ebc.ttf
/dist/static/coffee-af1c6ca9.js
/dist/static/cpp-2a429e6c.js
/dist/static/csharp-d087d64c.js
/dist/static/csp-13ea92a6.js
/dist/static/css-22c333ab.js
/dist/static/cssMode-0d4ad330.js
/dist/static/cypher-7a3b9fe3.js
/dist/static/dart-393f70d8.js
/dist/static/detail-83b109c5.css
/dist/static/detail-e35c380b.js
/dist/static/directive-4f644a89.js
/dist/static/directive-445abea0.css
/dist/static/dockerfile-af4eb422.js
/dist/static/ecl-8f5b983c.js
/dist/static/elixir-52a13003.js
/dist/static/ErrorPageLayout-141049e3.js
/dist/static/ErrorPageLayout-eddfc7ec.css
/dist/favicon.ico
/dist/static/flow9-47a350b0.js
/dist/static/freemarker2-621deba4.js
/dist/static/fsharp-de5183ae.js
/dist/static/go-a9169306.js
/dist/static/graphql-e84c0b6e.js
/dist/static/handlebars-6daf42e2.js
/dist/static/hcl-3a006f6b.js
/dist/static/html-96b02270.js
/dist/static/htmlMode-250b3d49.js
/dist/static/iconfont.1685110524528-749fb6d4.woff
/dist/static/iconfont.1685110524528-eabee844.ttf
/dist/index.html
/dist/static/index.vue_vue_type_script_setup_true_lang-3ec41c28.js
/dist/static/index-1a9a50dc.js
/dist/static/index-1d04bba2.js
/dist/static/index-1d89fc96.css
/dist/static/index-02bbeb23.js
/dist/static/index-02fcac5e.js
/dist/static/index-3e867ddb.css
/dist/static/index-4a180d6c.js
/dist/static/index-4effaf67.css
/dist/static/index-04f15033.css
/dist/static/index-8dcae3a5.js
/dist/static/index-033c0ba9.js
/dist/static/index-63effb8c.js
/dist/static/index-65e9521d.js
/dist/static/index-92e7a5ac.js
/dist/static/index-833c3093.js
/dist/static/index-2279a9c1.css
/dist/static/index-6317aa34.css
/dist/static/index-7310a4bd.js
/dist/static/index-34147db2.js
/dist/static/index-57032e46.js
/dist/static/index-0218950b.js
/dist/static/index-976192c4.css
/dist/static/index-a0665752.js
/dist/static/index-ad244f81.js
/dist/static/index-afdffa04.css
/dist/static/index-b990f5e2.js
/dist/static/index-bcd7741a.css
/dist/static/index-ce0f7bbe.css
/dist/static/index-dba498ba.js
/dist/static/index-efee45a1.js
/dist/static/index-f4b0b44c.js
/dist/static/index-f7c645d1.css
/dist/static/ini-53b87513.js
/dist/static/java-58c1a618.js
/dist/static/javascript-1d04e1e7.js
/dist/static/jsoneditor-icons-45c98bf0.svg
/dist/static/jsonMode-816e3ab4.js
/dist/static/julia-5f2fc018.js
/dist/static/kotlin-2e32535a.js
/dist/static/less-2780e06b.js
/dist/static/lexon-22a22ba3.js
/dist/static/liquid-3676b559.js
/dist/static/logo-bcc7b610.svg
/dist/static/logo-cc70e06e.png
/dist/static/logo-text-1-b6b0364d.png
/dist/static/logo-text-2-e82019df.js
/dist/static/logo-text-2-eef467fb.png
/dist/static/lua-04a273a9.js
/dist/static/m3-ad79f020.js
/dist/static/ManageQuestionView-6de7639e.js
/dist/static/ManageQuestionView-e3b0c442.css
/dist/static/markdown-93cf75e2.js
/dist/static/mdx-473fb950.js
/dist/static/mips-daa25bd4.js
/dist/static/msdax-c6fa6f2f.js
/dist/static/mysql-753a9662.js
/dist/static/objective-c-df8e7bde.js
/dist/static/page-6e7dcfda.js
/dist/static/page-ea61cdcc.css
/dist/static/pascal-e017ea4d.js
/dist/static/pascaligo-bf7e3de8.js
/dist/static/perl-2762c71f.js
/dist/static/pgsql-1566d400.js
/dist/static/php-df365951.js
/dist/static/pla-6c133053.js
/dist/static/postiats-b245e70f.js
/dist/static/powerquery-6b7a9cc4.js
/dist/static/powershell-50bb8773.js
/dist/static/protobuf-b1b3845a.js
/dist/static/pug-409e523c.js
/dist/static/python-468d953e.js
/dist/static/qsharp-8d792318.js
/dist/static/QuestionsView-7b88aad4.css
/dist/static/QuestionsView-d42e049a.js
/dist/static/r-c34a576e.js
/dist/static/razor-1a715c18.js
/dist/static/redis-1a5ba628.js
/dist/static/redshift-39be2a89.js
/dist/static/register-3b9a2611.css
/dist/static/register-5ae53be9.js
/dist/static/restructuredtext-1fbc8726.js
/dist/static/ruby-dacba1c2.js
/dist/static/rust-b0440aa9.js
/dist/static/sb-f3b34295.js
/dist/static/scala-7c17b334.js
/dist/static/scheme-f75b8a9a.js
/dist/static/scss-c265430c.js
/dist/static/shell-fe999acd.js
/dist/static/solidity-62f35cba.js
/dist/static/sophia-94cd0024.js
/dist/static/sparql-23f0115e.js
/dist/static/sql-9ac813b8.js
/dist/static/st-dc82966e.js
/dist/static/styles-daf340ed.css
/dist/static/swift-bc5aaa52.js
/dist/static/SwitchRoles-5d7086a5.css
/dist/static/SwitchRoles-55f34f33.js
/dist/static/systemverilog-416dd7b8.js
/dist/static/tcl-838585b9.js
/dist/static/tsMode-0cb18d6f.js
/dist/static/twig-2e2907c5.js
/dist/static/typescript-6f952d28.js
/dist/static/use-fetch-select-ea8fb5f7.js
/dist/static/use-fullscreen-loading-724bcafd.js
/dist/static/usePagination-0d9e92a6.js
/dist/static/vb-2f676a0c.js
/dist/static/ViewQuestionView-1fc99b65.css
/dist/static/ViewQuestionView-30ad5de6.js
/dist/static/wgsl-9f394a70.js
/dist/static/xml-3cba215a.js
/dist/static/yaml-f2883836.js
